#m_landing {
    width: 100%;
    height: 100vh;
    background: url('../../assets/blur.png') #fff;
    background-position: center right;
    background-size: cover;

    display: flex;
    align-items: center;
    flex-direction: column;

    text-align: center;
}

#m_landing #logo {
    max-height: 20vw;
    aspect-ratio: 1;
    margin: 10% 0 10% 0;
}
#m_landing #m_title {
    font-size: 10vw;
    font-weight: 600;
    color: white;
    margin-bottom: 5%;
}

#m_landing #m_tagline {
    color: white;
    font-size: 6vw;
    width: 70%;
    font-weight: 500;
}

#button-3d-mobile {
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5.0px );
    -webkit-backdrop-filter: blur( 5.0px );
    border-radius: 50px;
    border: 5px solid rgba( 255, 255, 255, 0.18 );
    padding: 2% 1%;
    text-align: center;
    font-weight: 600;
    transition-duration: 0.1s;
    width: 100%;
    color: white;
    margin-top: 10%;
    font-size: 4vw;
    cursor: pointer;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#m-landing-watch {
    width: 100%;
    aspect-ratio: 1;
}