#toTop {
    position: fixed;
    z-index: 100;
    bottom: 5%;
    right: 5%;
    border-radius: 50%;
    padding: 1%;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.651);
    font-size: 3vh;
    width: 2vw;
    height: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 3px 11px -5px rgba(0,0,0,0.76);
    -webkit-box-shadow: 2px 3px 11px -5px rgba(0,0,0,0.76);
    -moz-box-shadow: 2px 3px 11px -5px rgba(0,0,0,0.76);
    transition-duration: 300ms;
}
#toTop:hover {
    transform: scale(1.1);
    transition-duration: 300ms;
    color: rgb(215, 175, 252);
    background-color: rgb(255, 255, 255);
}