#titlebar {
    margin: 0;
    width: 100%;
    font-size: 3vw;
    padding: 1% 0;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#titlebar #text {
    padding-left: 1%;
}

#icon {
    margin-right: 1%;
}