#footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 1%;
    color: white;
    font-size: 3vh;
    font-weight: 600;
}
#footer * {
    text-decoration: none;
    cursor: pointer;
    color: white;
}
#footer #company-name {
    flex: 15;
    text-align: end;
}
.icons {
    display: flex;
    flex: 1;
    justify-content: space-between;
}